# exclude all .idea directory except .idea/runConfigurations/
.idea
!.idea/
.idea/*
!.idea/runConfigurations/
# exclide legacy IDEA project / worspace files:
*.iws
*.iml
*.ipr
# exclude IDEA build compiler output folder:
/out/
